use flake

export PROJECT_ROOT=$(git rev-parse --show-toplevel)
if [ ! -f "$PROJECT_ROOT/.git/hooks/pre-commit" ]; then
    pre-commit install
fi

uv sync
source "$PROJECT_ROOT/.venv/bin/activate"
echo -e "\033[0;32mActivated virtual environment ($(python -V))\033[0m"
